h1, h2, h3, h4, h5, h6 {
    font-family: 'Quattrocento', Palatino, Garamond, Bookman, Times, 'Times New Roman', serif;
    font-weight: 700;
}
body {
    font-family: 'Alice', Palatino, Garamond, Bookman, Times, 'Times New Roman', serif;
}


body {
    overflow: auto;
}

.main-header {
    background-color: #B92121;
    color: #fff;
}
.navbar-toggler {
    background-color: #fff;
}
.nav-link {
    color: #fff;
}
.nav-link.active {
    color: #fff !important;
    text-decoration: underline;
}
.navbar-text {
    color: #fff;
}
.navbar-text a {
    color: #fff;
}
.shader {
    background: rgba(0, 0, 0, .6);
}
.redbutton {
    background-color: #B92121;
    color: #fff;
}
.blackbutton {
    background-color: #111;
    color: #fff;
    border-radius: 6px;   
}
.hero {
    background: url('images/pexels-narda-yescas-1566837.jpg') no-repeat;
    background-size: cover;
}

h2.red {
    color: #B92121;
}
h2.black {
    color: #333;
}

.background-red {
    background-color: #B92121;
    color: #fff;
}

.carousel-control-next, .carousel-control-prev {
    background: rgba(0, 0, 0, .6);
}

#menu {
    background-color: #B92121;
    color: #fff;
}
#about {
    background-color: #f5f4f4;
}
footer#main {
    background-color: #111;
    color: #fff;
}
footer#main a {
    color: #fff;
}

.page__content {
    background-color: #FAFAFA !important;
    color: #333;

}
#menutable_info {
    margin-top: 24px;
}
#menutable_wrapper {
    margin-top: 24px;
    margin-bottom: 24px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background: rgba(125, 125, 125, .3);
}

table.dataTable tbody tr {
    border-color: rgba(255, 255, 255, .7);
    border-style: solid !important;
    border-width: 1px !important;
    border-collapse:initial;

}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 12px 10px;
}
.quantity {
    max-width: 40px;
    text-align: center;
    border: 1px solid black;
    opacity: 1 !important;
    text-align: center;
}
.quantity .text-input:disabled {
    opacity: 1;
    text-align: center;
}
.btn-inc, .btn-dec {
    width: 40px;
    text-align: center;
    margin: 3px 5px;
}

/* Modal Ordering */


.ordered-item {
	display: flex;
	flex-wrap: wrap;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.ordered-item div {
	flex-basis: calc(50% - 24px);
	padding: 12px;
	margin: 12px;
    background-color: #eee;
}
.totals {
	padding-right: 15px;
}
.totals div {
	margin: 12px;
}
